[submodule "guessing_game"]
	path = guessing_game
	url = https://github.com/RezaBani/guessing_game
	branch = main
[submodule "random_number_generator"]
	path = random_number_generator
	url = https://github.com/RezaBani/random_number_generator
	branch = main
